extends ./layout

block css
  link(href='css/style.css', rel='stylesheet')

block content
  .container
    br
    .jumbotron
      .row
        h1 Hello!
      hr
      .row
        p
          | Welcome to Somewhat Secure Profiles (SSP). This site was designed and coded by 
          a(href="https://babelthuap.github.io/") Nicholas Neumann-Chun
          |. It is truly awful. Why are you here? You should probably go home and rethink your life choices. Have a nice day!

block js
  script(src='js/main.js')
