extends ./layout

block css
  link(href='css/style.css', rel='stylesheet')

block content
  .container
    .jumbotron
      .row
        h1 Login
      hr
      .row
        p: strong Username
        input#username(type='text', size='30') 
      .row
        p: strong Password
        input#pass(type='password', size='30')
      button.btn.btn-lg.btn-danger#login Login

block js
  script(src='js/login.js')
