extends ./layout

block css
  link(href='css/style.css', rel='stylesheet')

block content
  .container
    .jumbotron
      .row
        h1 Register
      hr
      .row
        p: strong Username
        input#username(type='text', placeholder='e.g. TheDarkLordSauron', size='30') 
      .row
        p: strong Password
        input#pass1(type='password', size='30', placeholder='make it strong')
      .row
        p: strong Retype Your Password
        input#pass2(type='password', size='30', placeholder='yes, again!')
      button.btn.btn-lg.btn-danger#register Register

block js
  script(src='js/register.js')
